div#searchBox, div#settingsBox, div#artistBox {
    margin: 0.5em auto;
    background-color: #EBF4FB;
    padding: 1em;
    border: 1pt solid #95BEF0;
    width: 95%;
    border-radius: 4px;
}

div#artistBox {
    margin-top: 1em;
    background-color: #FAFCFF;
}

table tbody td {
    border-top: 1pt solid #95BEF0;
    line-height: 1.5em;
    vertical-align: middle;
    padding: 0.5em 0.75em;
}

table thead th {
    text-align: left;
    padding: 0.25em 0.75em;
}

table thead {
    background-color: #EBF4FB;
}

table tbody td:first-child {
    text-align: center;
    padding: 0.5em 0;
}

caption {
    background-color: #95BEF0;
    padding: 0.5em 0.5em;
    font-weight: bold;
    font-size: 1.2em;
}

#searchInput {
    line-height: 1.428571429;
    padding: 6px 12px;
    border-radius: 4px;
}

select {
    padding: 6px 12px;
    border-radius: 4px;
    line-height: 1.428571429;
}